You have logged into {{ ansible_facts['hostname'] }} with Ip address {{ ansible_facts['default_ipv4']['address'] }} and disk information is {{ ansible_facts['memtotal_mb'] }} and processor is  {{ ansible_facts['processor_count'] }}

